<header class="site-header" data-section="header">
    <div class="container site-header__inner">
                        <a class="brand" href="#top" aria-label="Igienair Startseite">
        <img class="brand__logo brand__logo--light" src="./Bildmaterial_final/logos/logo-weiss.svg" alt="">
        <img class="brand__logo brand__logo--dark" src="./Bildmaterial_final/logos/logo.svg" alt="">
      </a>

      <nav class="desktop-nav" aria-label="Hauptnavigation">
        <div class="nav-item">
          <a class="nav-trigger" href="./unternehmen/index.html">Unternehmen</a>
          <div class="nav-dropdown">
            <a class="nav-link" href="./unternehmen/zertifizierungen/index.html">Zertifizierungen</a>
            <a class="nav-link" href="./unternehmen/nachhaltigkeit/index.html">Nachhaltigkeit</a>
            <a class="nav-link" href="./unternehmen/sicherheit/index.html">Sicherheit</a>
            <a class="nav-link" href="./unternehmen/qualitaet/index.html">Qualität</a>
            <a class="nav-link" href="./unternehmen/umweltschutz/index.html">Umweltschutz</a>
            <a class="nav-link" href="./kontakt/index.html">Standorte</a>
            <a class="nav-link" href="./unternehmen/news/index.html">News</a>
            <a class="nav-link" href="./glossar/index.html">Glossar</a>
          </div>
        </div>
        <div class="nav-item">
          <a class="nav-trigger" href="./leistungen/index.html">Leistungen</a>
          <div class="nav-dropdown">
            <a class="nav-link" href="./leistungen/inspektionundgutachten/index.html">Inspektion &amp; Gutachten</a>
            <a class="nav-link" href="./leistungen/reinigung-desinfektion/index.html">Reinigung &amp; Desinfektion</a>
            <a class="nav-link" href="./leistungen/instandsetzung-sanierung/index.html">Instandsetzung &amp; Sanierung</a>
            <a class="nav-link" href="./energetische-inspektion-geg-2020/index.html">Energetische Inspektion</a>
          </div>
        </div>
        <div class="nav-item">
          <a class="nav-trigger" href="./normen/index.html">Normen</a>
          <div class="nav-dropdown">
            <a class="nav-link" href="./normen/vdi-6022/index.html">VDI 6022</a>
            <a class="nav-link" href="./normen/vdi-2047/index.html">VDI 2047-2</a>
            <a class="nav-link" href="./normen/vdi-2052-bgr-111/index.html">VDI 2052 &amp; BGR 111</a>
            <a class="nav-link" href="./normen/din-en-15780/index.html">DIN EN 15780</a>
            <a class="nav-link" href="./normen/din-en-14175/index.html">DIN EN 14175</a>
          </div>
        </div>
        <div class="nav-item nav-item--wide">
          <a class="nav-trigger" href="./anlagen/index.html">Anlagen</a>
          <div class="nav-dropdown nav-dropdown--wide">
            <a class="nav-link" href="./anlagen/lueftungsreinigung/index.html">Lüftungsanlagen</a>
            <a class="nav-link" href="./anlagen/lueftungsanlagenreinigung/index.html">RLT-Anlagen</a>
            <button type="button" class="nav-link" data-inert>Zu- &amp; Abluftkanäle</button>
            <a class="nav-link" href="./anlagen/raumluftdesinfektion/index.html">Raumluftdesinfektion</a>
            <a class="nav-link" href="./anlagen/kuehlturmreinigung/index.html">Verdunstungskühlanlage</a>
            <a class="nav-link" href="./anlagen/splitklimageraete-und-umluftkuehlgeraete/index.html">Splitklimageräte &amp; Umluftkühlgeräte</a>
            <a class="nav-link" href="./anlagen/prozessabluft-und-entrauchungsanlagen/index.html">Prozessabluft &amp; Entrauchungsanlagen</a>
            <a class="nav-link" href="./anlagen/kuechenabluftsysteme/index.html">K&uuml;chenabluftsysteme</a>
            <a class="nav-link" href="./anlagen/laborabzuege/index.html">Laborabz&uuml;ge &amp; Digestorien</a>
            <a class="nav-link" href="./anlagen/verdampfer-und-kondensatoren/index.html">Verdampfer &amp; Kondensatoren</a>
            <button type="button" class="nav-link" data-inert>Reinräume</button>
            <button type="button" class="nav-link" data-inert>OP-Räume</button>
            <button type="button" class="nav-link" data-inert>Kühlregale</button>
            <button type="button" class="nav-link" data-inert>Textilschläuche</button>
            <a class="nav-link" href="./anlagen/rechenzentrum/index.html">Rechenzentrum</a>
            <button type="button" class="nav-link" data-inert>Filterintegritätstest</button>
            <a class="nav-link" href="./lecktest-schwebstofffilter/index.html">Lecktest Schwebstofffilter</a>
          </div>
        </div>
        <div class="nav-item">
          <a class="nav-trigger" href="./kunden/index.html">Kunden</a>
          <div class="nav-dropdown">
            <a class="nav-link" href="./branchen/index.html">Branchen</a>
            <a class="nav-link" href="./kunden/referenzen/index.html">Referenzen</a>
            <a class="nav-link" href="https://kunde.igienair.de/login">Extranet</a>
          </div>
        </div>
        <div class="nav-item">
          <a class="nav-trigger" href="./jobs/index.html">Jobs</a>
          <div class="nav-dropdown">
            <button type="button" class="nav-link" data-inert>Mitarbeiter technische Reinigung</button>
            <button type="button" class="nav-link" data-inert>Teamleiter technische Hygienereinigung</button>
          </div>
        </div>
        <div class="nav-item">
          <a class="nav-trigger" href="./kontakt/index.html">Standorte</a>
        </div>
      </nav>

      <button class="mobile-menu-toggle" type="button" aria-expanded="false" aria-controls="mobile-menu">
        <span class="mobile-menu-toggle__bar"></span>
        <span class="mobile-menu-toggle__bar"></span>
        <span class="mobile-menu-toggle__bar"></span>
      </button>

      <a class="button button--header" href="./kontakt/angebot-anfordern/index.html">Angebot anfragen</a>
      <a class="header-badge-link" href="./kontakt/index.html#locations" aria-label="Standorte anzeigen"><img class="header-badge" src="./Bildmaterial_final/icons/germany-badge.webp" alt=""></a>
    </div>

    <div class="mobile-menu" id="mobile-menu" aria-hidden="true">
      <div class="mobile-menu__panel">
        <div class="mobile-menu__group">
          <a class="mobile-menu__group-title" href="./unternehmen/index.html">Unternehmen</a>
          <a class="mobile-link" href="./unternehmen/zertifizierungen/index.html">Zertifizierungen</a>
          <a class="mobile-link" href="./unternehmen/nachhaltigkeit/index.html">Nachhaltigkeit</a>
          <a class="mobile-link" href="./unternehmen/sicherheit/index.html">Sicherheit</a>
          <a class="mobile-link" href="./unternehmen/qualitaet/index.html">Qualität</a>
          <a class="mobile-link" href="./unternehmen/umweltschutz/index.html">Umweltschutz</a>
          <a class="mobile-link" href="./kontakt/index.html">Standorte</a>
          <a class="mobile-link" href="./unternehmen/news/index.html">News</a>
          <a class="mobile-link" href="./glossar/index.html">Glossar</a>
        </div>
        <div class="mobile-menu__group">
          <a class="mobile-menu__group-title" href="./leistungen/index.html">Leistungen</a>
          <a class="mobile-link" href="./leistungen/inspektionundgutachten/index.html">Inspektion &amp; Gutachten</a>
          <a class="mobile-link" href="./leistungen/reinigung-desinfektion/index.html">Reinigung &amp; Desinfektion</a>
          <a class="mobile-link" href="./leistungen/instandsetzung-sanierung/index.html">Instandsetzung &amp; Sanierung</a>
          <a class="mobile-link" href="./energetische-inspektion-geg-2020/index.html">Energetische Inspektion</a>
        </div>
        <div class="mobile-menu__group">
          <a class="mobile-menu__group-title" href="./normen/index.html">Normen</a>
          <a class="mobile-link" href="./normen/vdi-6022/index.html">VDI 6022</a>
          <a class="mobile-link" href="./normen/vdi-2047/index.html">VDI 2047-2</a>
          <a class="mobile-link" href="./normen/vdi-2052-bgr-111/index.html">VDI 2052 &amp; BGR 111</a>
          <a class="mobile-link" href="./normen/din-en-15780/index.html">DIN EN 15780</a>
          <a class="mobile-link" href="./normen/din-en-14175/index.html">DIN EN 14175</a>
        </div>
        <div class="mobile-menu__group">
          <a class="mobile-menu__group-title" href="./anlagen/index.html">Anlagen</a>
          <a class="mobile-link" href="./anlagen/lueftungsreinigung/index.html">Lüftungsanlagen</a>
          <a class="mobile-link" href="./anlagen/lueftungsanlagenreinigung/index.html">RLT-Anlagen</a>
          <button type="button" class="mobile-link" data-inert>Zu- &amp; Abluftkanäle</button>
          <a class="mobile-link" href="./anlagen/raumluftdesinfektion/index.html">Raumluftdesinfektion</a>
          <a class="mobile-link" href="./anlagen/kuehlturmreinigung/index.html">Verdunstungskühlanlage</a>
          <a class="mobile-link" href="./anlagen/splitklimageraete-und-umluftkuehlgeraete/index.html">Splitklimageräte &amp; Umluftkühlgeräte</a>
          <a class="mobile-link" href="./anlagen/prozessabluft-und-entrauchungsanlagen/index.html">Prozessabluft &amp; Entrauchungsanlagen</a>
          <a class="mobile-link" href="./anlagen/kuechenabluftsysteme/index.html">K&uuml;chenabluftsysteme</a>
          <a class="mobile-link" href="./anlagen/laborabzuege/index.html">Laborabz&uuml;ge &amp; Digestorien</a>
          <a class="mobile-link" href="./anlagen/verdampfer-und-kondensatoren/index.html">Verdampfer &amp; Kondensatoren</a>
          <button type="button" class="mobile-link" data-inert>Reinräume</button>
          <button type="button" class="mobile-link" data-inert>OP-Räume</button>
          <button type="button" class="mobile-link" data-inert>Kühlregale</button>
          <button type="button" class="mobile-link" data-inert>Textilschläuche</button>
          <a class="mobile-link" href="./anlagen/rechenzentrum/index.html">Rechenzentrum</a>
          <button type="button" class="mobile-link" data-inert>Filterintegritätstest</button>
          <a class="mobile-link" href="./lecktest-schwebstofffilter/index.html">Lecktest Schwebstofffilter</a>
        </div>
        <div class="mobile-menu__group">
          <a class="mobile-menu__group-title" href="./kunden/index.html">Kunden</a>
          <a class="mobile-link" href="./branchen/index.html">Branchen</a>
          <a class="mobile-link" href="./kunden/referenzen/index.html">Referenzen</a>
          <a class="mobile-link" href="https://kunde.igienair.de/login">Extranet</a>
        </div>
        <div class="mobile-menu__group">
          <a class="mobile-menu__group-title" href="./jobs/index.html">Jobs</a>
          <button type="button" class="mobile-link" data-inert>Mitarbeiter technische Reinigung</button>
          <button type="button" class="mobile-link" data-inert>Teamleiter technische Hygienereinigung</button>
        </div>
        <div class="mobile-menu__group">
          <a class="mobile-menu__group-title" href="./kontakt/index.html">Standorte</a></div>
      </div>
    </div>
  </header>
